# Датасет не загружать
/data/*
!/data/.gitkeep

# Модели не загружать
/models/*
!/models/.gitkeep

# Вспомогательные файлы notebook не загружать
/notebooks/.ipynb_checkpoints/

# Вспомогательные файлы pycharm не загружать
/.idea

